doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../../../public/style/index.css")

        style.
            body {
                flex: 1
            }
            .header {
                width: 100%;
                height: 30%;
                background: yellow;

            }
            .header .stlWC {
                display: flex;
                padding-right: 50px;
                padding-left: 50px;
            }
            .header .stlWC .divWelcome {
                flex: 75%;
                border: 1px solid;
            }
            .header .stlWC .iconController {
                display: flex;
                flex: 25%;
                border: 1px solid;
            }
            p {
                font-size: 15px;
            }
            .img1 {
                margin-right: 50px
            }
            .logoController {
                display: flex;
            }
            .logoH1 {
                flex: 80%;
                text-align: center;
                border: 1px solid;
            }
            .iconController2 {
                flex: 20%;
                border: 1px solid;
            }
            img{
                width: 20px;
                height: 20px;
            }

        title Document

    body
        .header
            .stlWC
                .divWelcome
                    p Welcome Couture2gether
                .iconController
                    img(src=./../../public/image_path/63fcde6cf0f21-1.jpg")
                    p English
                    img(src="../../image/icon_bot.png")
                    img(src="../../image/icon_bot.png")
            .logoController
                .logoH1
                    font(fave="Mulish")
                        h1 Fashion
                .iconController2
                    img(src="i.png")
                    img(src="i.png")
                    img(src="i.png")
            //- h1 Danh sách Bammers
            //- for bn in banners
            //-     a= bn.title
            //-     br
            //-     p= bn.content
            //-     p= bn.image_path

            //- h1 Danh sách Slide
            //- for ft in features
            //-     a= bn.title
            //-     br
            //-     p= ft.content
            //-     p= ft.image_path

            //- h1 Danh sách Product
            //- for sp in products
            //-     a= sp.title
            //-     br
            //-     p= sp.content
            //-     p= sp.image_path
            //-     p= sp.price
